
<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <img src="./img/sneakers.png" alt="">
            </div>
            <div class="navItem">
                <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="./img/search.png" width="20" height="20" alt="" class="searchIcon">
                </div>
            </div>
            <div class="navItem">
                <span class="limitedOffer">Inicia sesion</span>
            </div>
        </div>
        <div class="navBottom">
            <h3 class="menuItem">Item 1</h3>
            <h3 class="menuItem">Item 2</h3>
            <h3 class="menuItem">Item 3</h3>
            <h3 class="menuItem">Item 4</h3>
            <h3 class="menuItem">Item 5</h3>
        </div>
    </nav>
    
</body>